################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UrlShortener/obj
/UrlShortener/bin/Debug/netcoreapp2.1
/.vs
